name: Figure out the source of the library to build for testing

on:
  workflow_dispatch:
  workflow_call:
    # Map the workflow outputs to job outputs
    outputs:
      library_install_zip:
        description: "The name of the ZIP for the Arduino CLI to install"
        value: ${{ jobs.determine_library_source.outputs.library_install_zip }}
      library_install_git:
        description: "The exactly git reference for PlatformIO to install"
        value: ${{ jobs.determine_library_source.outputs.library_install_git }}

jobs:
  determine_library_source:
    name: Determine Library Source
    runs-on: ubuntu-latest
    if: ${{ ! contains(github.event.head_commit.message, 'ci skip') }}
    outputs:
      library_install_zip: ${{ steps.store_vars.outputs.library_install_zip }}
      library_install_git: ${{ steps.store_vars.outputs.library_install_git }}

    steps:
      - uses: actions/checkout@v6

      - name: Set environment variables for pushes to any branch within the main repository
        if: github.event_name == 'push'
        run: |
          echo "Push to commit ${GITHUB_SHA}"
          echo "LIBRARY_INSTALL_ZIP=https://github.com/${GITHUB_REPOSITORY}/archive/${GITHUB_SHA}.zip" >> $GITHUB_ENV
          echo "LIBRARY_INSTALL_GIT=https://github.com/${GITHUB_REPOSITORY}.git#${GITHUB_SHA}" >> $GITHUB_ENV

      - name: Set environment variable for PR's from any branch within the main repository
        if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.name == github.repository
        run: |
          echo "Pull Request from the ${GITHUB_HEAD_REF} branch"
          echo "LIBRARY_INSTALL_ZIP=https://github.com/${GITHUB_REPOSITORY}/archive/${GITHUB_HEAD_REF}.zip" >> $GITHUB_ENV
          echo "LIBRARY_INSTALL_GIT=https://github.com/${GITHUB_REPOSITORY}.git#${GITHUB_HEAD_REF}" >> $GITHUB_ENV

      - name: Set environment variable for PR's from any fork
        if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.name != github.repository
        run: |
          echo "Pull Request from the fork ${{ github.event.pull_request.head.repo.full_name }} at ${{ github.event.pull_request.head.ref }}"
          echo "LIBRARY_INSTALL_ZIP=https://github.com/${{ github.event.pull_request.head.repo.full_name }}/archive/${{ github.event.pull_request.head.ref }}.zip" >> $GITHUB_ENV
          echo "LIBRARY_INSTALL_GIT=https://github.com/${{ github.event.pull_request.head.repo.full_name }}.git#${{ github.event.pull_request.head.ref }}" >> $GITHUB_ENV

      - name: store enviroment variables as output
        id: store_vars
        run: |
          echo "library_install_zip=${{ env.LIBRARY_INSTALL_ZIP }}" >> $GITHUB_OUTPUT
          echo "library_install_git=${{ env.LIBRARY_INSTALL_GIT }}" >> $GITHUB_OUTPUT

  print_library_source:
    name: Print Library Source
    runs-on: ubuntu-latest
    needs: determine_library_source
    steps:
      - name: Check the library installation source
        run: |
          echo "Link to zip for Arduino CLI testing install:"
          echo "${{ needs.determine_library_source.outputs.library_install_zip }}"
          echo
          echo "Git reference for PlatformIO testing install"
          echo "${{ needs.determine_library_source.outputs.library_install_git }}"
